.registerbackground {
    background-image: url(./pong.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.registertext {
    color: #08F300 !important;
    font-size: 34px !important;
    margin-bottom: 40px !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
