.loginbackground {
    background-image: url(./asteroids.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logintext {
    color: #08F300 !important;
    font-size: 80px !important;
    margin-bottom: 40px !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}