/* body {
    margin: 0;
    background-color:black;
  }
  
  .grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto auto auto;
    padding: 10px 150px 10px 150px;
  }
  
  .grid-header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:black;
    padding: 10px;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  
  .justify-left {
    text-align: left
  }
  
  .justify-end {
    text-align: right;
  }
  
  .justify-center {
    text-align: center;
    color: white
  }
  
  .timer {
    color: #5168e9;
    font-size: 20px;
    font-weight: bold;
  }
  
  .restart-button {
    width: 15em;
    height: 3em;
    color: white;
    background-color: rgb(13, 13, 233);
    border: 0;
    font-weight: bold;
  }
  
  .game-status-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
  }
  
  .card {
    width: 100%;
    height: 10em;
    background-color: rgb(13, 13, 233);
    color: white;
    font-size: 15px;
  
  }
  
  .hide-card {
    visibility: hidden;
  }
  
  .card-front {
    background-color: #08f300;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  }
  
  .card-back {
    font-weight: bold;
  }
  
  .react-card-front {
    position: unset !important;
  } */