.container {
    justify-content: center;
    display: flex;
    margin-bottom: 200px;
    
}

.content{
    background-color: white !important;
    
}


.border {
    border: 2px solid black !important;
}

img {
    height: 290px !important;
    width: 290px !important;
}

.ui.card {
    margin: 0 !important;
    margin-right: 50px !important;
    margin-top: 40px !important;
    margin-bottom: 210px !important;
    background-color: white !important;
    
}