
.background {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.message-container{
    background-color: black !important;
    color: #08F300 !important;
}

.textneon{
    color: #08F300 !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 70px !important;
}